.env
**/bin/
**/obj/
**/.vs/
*.user
**/pgdata/
**/appsettings.json
**/appsettings.*.json
**/appsettings*.json

# Firebase credentials & sensitive keys
**/Firebase/
firebase-service-account.json
*-adminsdk-*.json
*.pem
*.pfx
